node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
package-lock.json
yarn.lock
pnpm-lock.yaml

logs
*.log
*.log.*
log.txt

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

.dockerignore
docker-compose.override.yml
docker-compose.override.yaml
docker-compose.dev.yml
docker-compose.dev.yaml
docker-compose.local.yml
docker-compose.local.yaml
.docker/
tmp/
*.pid

nginx/conf.d/*
!nginx/conf.d/default.conf   # Mantén un default de ejemplo si quieres
nginx/logs/
nginx/cache/

coverage/
*.lcov
.nyc_output

.cache/
.happypack/
*.tsbuildinfo

*.tgz
*.tar.gz
*.zip
